@import "tailwindcss";
@import "flowbite/src/themes/default";

@layer components {
	.content {
		position: absolute;
		inset: 0;
		 opacity: 0;
        transform: translateY(10px);
        max-height: 0;
        overflow: hidden;
        pointer-events: none;
        z-index: 0;
        transition: opacity 0.25s ease, transform 0.25s ease, max-height 0.25s ease;
	}

	.content.active {
		position: absolute;
		inset: 0;
		opacity: 1;
        transform: translateY(0);
        max-height: none;
        overflow: visible;
        pointer-events: auto;
		z-index: 10;
	}

}